{% extends 'main/base.html' %}
{% load static %}

{% block title %}
    {{ product.name }}
{% endblock title %}

{% block content %}
    <div class="detail-product d-flex">
        <div class="detail-img">
            <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/nike-shoes.jpeg" %}{% endif %}" alt="" class="detail-image">
        </div>
        <div class="detail-description">
            <h2>{{ product.name }}</h2>
            <h3>Category: {{ product.category }}</h3>
            <p>Description: {{ product.description|linebreaks }}</p>
            <p><strong>Цена:</strong> {{ product.price }} руб.</p>

            <form action="{% url "cart:cart_add" product.id %}" class="qform" method="post">
                <div class="cart-form">
                    <div class="quantity">
                        <label for="{{ cart_product_form.quantity.id_for_label }}">Количество:</label>
                        {{ cart_product_form.quantity }}
                    </div>
                    <div class="sizes">
                        <p>Available sizes:</p>
                        {% if product.get_sizes_list %}
                            <label for="{{ cart_product_form.size.id_for_label }}">Размер:</label>
                            {{ cart_product_form.size }}
                        {% else %}
                            <p>Размеры недоступны</p>
                        {% endif %}
                    </div>
                    {% csrf_token %}
                </div>
                <input type="submit" class="add-to-cart-btn" value="Add to cart">
            </form>
        </div>
    </div>
{% endblock content %}