@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.363);
}


body {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

ul  {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 48px;
    font-weight: 600;
}

h3 {
    font-size: 36px;
}

h5 {
    font-size: 18px;
    margin: 0;
    font-weight: 600;
}

.header-container {
    box-sizing: border-box;
    max-width: 1400px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0 15px;
    align-items: center;
}

.container {
    box-sizing: border-box;
    max-width: 1600px;
    margin: 0 auto;
}


.header-logo img.yumms-logo {
    max-height: 50px; /* Ограничивает высоту логотипа */
    width: auto; /* Сохраняет пропорции */
}

.header-profile {
    display: flex;
    align-items: center;
    gap: 15px; /* Отступ между элементами */
    padding-right: 20px;
}

/* Стили для иконки корзины */
.corzina {
    width: 30px; /* Размер иконки */
    height: 30px;
    transition: transform 0.2s ease; /* Плавное масштабирование при наведении */
}

.corzina:hover {
    transform: scale(1.1); /* Лёгкое увеличение при наведении */
}


/* */
.header {
    height: 80px;
    background-color: #fff;
    box-shadow: var(--box-shadow);
}

.header-list {
    text-transform: uppercase;
}

.header-logo {
    position: fixed;
    top: 1.5%;
    left: 44.5%;
}

.home-card {
    width: 200px;
    height: 325px;
    border: 1px solid #00000027;
    border-radius: 5px;
    transition: all 0.5s ease;
    background-color: #fff;
}

.home-card:hover {
    border: 1px solid #000
}

.title-card {
    max-width: 185px;
    margin-top: 20px;
    min-height: 70px;
}

.card-img {
    width: 195px;
    height: 195px;
}

.price {
    font-size: 20px;
    font-weight: 700;
    margin-top: -10px;
}

/*Карточки*/

.detail-image {
    width: 650px;
    height: 650px;
}

.detail-product {
    margin-top: 80px;
}

.detail-description {
    margin-left: 40px;
    margin-top: 40px;
}

.detail-description p {
    margin-top: 30px;
    max-width: 700px;
}

.detail-description h2 span {
    font-size: 56px;
}

.size-btn {
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: #333;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: default; /* Изменено на default, так как кнопки не интерактивны */
    transition: background-color 0.3s;
}

.size-btn:hover {
    background-color: #e9ecef;
}

/*Каталог товаров с категориями*/

.main {
    margin-left: 150px;
}
.main-title {
    font-size: 36px;
    margin-bottom: 10px;
    margin-top: 65px;
}

.items {
    display: grid;
    grid-template-columns: repeat(auto-fill, 225px);
    width: 100%;
    max-width: 1300px;
    justify-content: center;
    justify-items: center;
    column-gap: 0px;
    row-gap: 10px;
    margin: 0 auto;
}

.sidebar {
    margin-top: 70px;
}


.sidebar ul li { /* Категории */
    font-size: 18px;
    width: 165px;
    height: 35px;
    margin-bottom: 5px;
}

.sidebar ul li a {
    margin-left: 15px;
    width: 165px;
}

.sidebar ul {
    margin-top: 20px;
}

.selected {
    border: 1px solid #000;
    border-radius: 5px;
}

/* Корзина */
.cart-card {
    display: flex;
    gap: 15px;
    justify-self: center;
    align-items: center;
    width: 570px;
    height: 150px;
    border: 1px solid #00000042;
    border-radius: 10px;
    margin-bottom: 10px;
    background-repeat: no-repeat;
}

.cart-card-img img {
    width: 125px;
    height: 125px;
    border: 1px solid #00000086;
}

.cart {
    flex-direction: column;
}

.cart-title {
    margin-top: 60px;
    margin-bottom: 30px;   
}

.cart-cards {
    max-height: 52vh;
    width: 600px;
    overflow-y: auto;
}

.cart-card-img img {
    width: 125px;
    height: 125px;
    border: 1px solid #00000042;
}

.cart-card-name {
    width: 180px;
}

.remove-btn {
    background-color: #fff;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 30px;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.5s ease;
}

.remove-btn:hover {
    border: 1px solid #999;
}

.cart-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 50px;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.5s ease;
}

.cart-btn:hover {
    border: 1px solid #999;
}

.cart-price {
    font-size: 16px;
}

.opac {
    opacity: 0.5;
    margin: 0;
}

.total {
    margin: 25px 0 25px 0;
}

.add-to-cart-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 50px;
    border: 1px solid #000;
    border-radius: 4px;
    margin: 10px 0 10px 0;
    background-color: #fff;
}